.container {
  margin: auto;
  width: 80%;
}


header{
  position: relative;
  padding-top: 20px;
  height: 600px;
  background-image: url('Images/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

nav ul li{
  text-transform: uppercase;
  list-style: none;
  padding-right: 25px;
  display: inline;
  color:rgb(255, 255, 255);
}

nav ul li a {
  text-decoration: none;
  color:rgb(255, 255, 255);
}

nav ul li a:hover{
  text-decoration: underline;
}

nav ul li a:active{
  text-decoration: none;
  color: rgb(27, 188, 155);
}

nav ul li:not(:first-child){
  float: right;
}

.promo {
  margin: auto 15%;
  padding-top:15%;
  text-align: center;
  color: rgb(255, 255, 255);
  width: auto;
}

header h1 {
  font-size: 50px;
  margin: 10px;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}

header h2 {
  font-size: 20px;
  padding-top: 3px;
}

header button{
  text-transform: uppercase;
  position: absolute;
  bottom: -27px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: rgb(27, 188, 155);
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 10px;
  font-size: 16px;
  width: 20%;
  border: 7px solid rgba(27, 188, 155, .5);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

main {
  background-color: rgb(255, 255, 255);
}

.bruce h1 {
padding-top: 100px;
color: rgb(27, 188, 155);
text-align: center;
font-size: 25px;
font-weight: bold;
margin-bottom: 20px;

}

main p {
  line-height: 25px;
  text-align: center;
  padding-bottom: 80px;
  color: rgb(128, 128, 128);
}


.clear{
clear: both;
}

.post_list {
  text-align: center;
  list-style: none;
  width: 30%;
  float:left;
   }

.post_list h1 {
  font-size: 20px;
  margin: 30px 0;
  font-weight: bold;
  color: rgb(27, 188, 155);
}

.post_list p {
  line-height: 25px;
  text-align: justify;
  padding-bottom: 10px;
}

.post_list:not(:last-child){
  margin-right: 5%;
}

.view_more {
  position: relative;
  width: 100%;
  margin-bottom: 150px;
}

main button{
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 10px;

  background-color: rgb(27, 188, 155);
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  width: 20%;
  border: solid;
 }

.contact_message{
  color: rgb(27, 188, 155);
  font-size: 25px;
  margin: 0 0 130px 0;
  padding: 0;
  color: rgb(27, 188, 155);
  text-align: center;
  font-weight: bold;
}

.contact_form{
  position: relative;

}

.line {
  height: 2px;
  width: 100%;
  background-color: rgba(225, 224, 224, 0.7);
  margin: 80px 0;
}