/*-------------------------------------------------------------------------------
                              TABLE OF CONTENT
---------------------------------------------------------------------------------
1. BASIC ELEMENTS



*/

/*-------------------------------------------------------------------------------
                            1. BASIC ELEMENTS
--------------------------------------------------------------------------------*/

html {
 box-sizing: border-box;
}
*, *:before, *:after {
 box-sizing: inherit;
}

.clearfix:before,
.clearfix:after{
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

/*-------------------------------------------------------------------------------
                            2. NAVIGATION ELEMENTS
--------------------------------------------------------------------------------*/
.navigation {
height:70px;
text-transform: uppercase;
list-style: none;
}

.navigation a:hover {
  text-decoration: none;
  }

.nav_first{
  padding: 1.7em 1em 0 0;
}

  .nav_first li a{
    color:rgb(152, 164, 162);
  }


.nav_second{
  height: 100%;
  padding: 1.7em 25px 0 2em;
  background: rgba(224, 222, 223,1);
  background-size: cover;
  background: -moz-linear-gradient(left, rgba(224, 222, 223,1) 0%, rgba(224, 222, 223,1) 16%, rgba(246,246,246,1) 16%, rgba(234, 78, 56,1) 16%, rgba(234, 78, 56,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(224, 222, 223,1)), color-stop(16%, rgba(224, 222, 223,1)), color-stop(16%, rgba(246,246,246,1)), color-stop(16%, rgba(234, 78, 56,1)), color-stop(100%, rgba(234, 78, 56,1)));
  background: -webkit-linear-gradient(left, rgba(224, 222, 223,1) 0%, rgba(224, 222, 223,1) 16%, rgba(246,246,246,1) 16%, rgba(234, 78, 56,1) 16%, rgba(234, 78, 56,1) 100%);
  background: -o-linear-gradient(left, rgba(224, 222, 223,1) 0%, rgba(224, 222, 223,1) 16%, rgba(246,246,246,1) 16%, rgba(234, 78, 56,1) 16%, rgba(234, 78, 56,1) 100%);
  background: -ms-linear-gradient(left, rgba(224, 222, 223,1) 0%, rgba(224, 222, 223,1) 16%, rgba(246,246,246,1) 16%, rgba(234, 78, 56,1) 16%, rgba(234, 78, 56,1) 100%);
  background: linear-gradient(to right, rgba(224, 222, 223,1) 0%, rgba(224, 222, 223,1) 16%, rgba(246,246,246,1) 16%, rgba(234, 78, 56,1) 16%, rgba(234, 78, 56,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbd7db', endColorstr='#e80c0c', GradientType=1 );
  color: white;
}

  .nav_first li, .nav_second li{
    display: inline;
    margin-right: 1em;
  }

  .nav_second li:first-child{
    text-align: center;
}


/*-------------------------------------------------------------------------------
                            3. HERO ELEMENTS
--------------------------------------------------------------------------------*/
.hero{
  background-image: url('Images/back.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 430px;
  position: relative;
}

.hero_over{
position: absolute;
background-color: rgba(32, 14, 4, 0.6);
background-size: cover;
top:0;
left: 0;
right: 0;
bottom: 0;
padding-top: 3em;

}
  .hero h1{
    text-align: center;
    font-size: 35px;
    color: white;
    font-weight: bold;
  }

.search{
padding: auto 2em;

}

  .search select{
    -moz-appearance: none;
    -weblit- appearance:none;
    background-image: url('Images/arrow.png');
    background-size: 6%;
    background-position: 91% 53%;
    background-repeat: no-repeat;
    padding-right: 5px;
    margin-bottom: 1em;
  }

    .search select:first-child{
      margin-right: 1em;
    }

     .search select option{
      padding-left: 1em;
      font-size: 0.7em;
     }

.search select, .search input{
  height: 60px;
  width: 100%;
  border: solid 1px rgba(128, 128, 120, 0.7);
  border-radius: 30px;
  padding-left: 1em;
  font-size: 23px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: rgba(128, 128, 120, 0.1);
}

.search input{
  margin-bottom: 1em;
}

.search_button{
  height: 70px;
  width: 100%;
  border: none;
  text-transform: uppercase;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  border-radius: 40px;
  background-color: rgb(234, 78, 56);
}

/*-------------------------------------------------------------------------------
                            4. FILTER ELEMENTS
--------------------------------------------------------------------------------*/
 .filter_section{
  height: 60px;
  text-transform: uppercase;
 }

  .filter_section ul {
    padding-top: 20px;
  }

  .filter_section ul li{
    display: inline;
    margin-right: 10px;
  }

  .filter_section ul li a{
    color: rgb(173, 186, 187);
    font-weight: bold;
  }


  .filter_section ul li a:hover{
    color: rgb(235, 98, 79);
    text-decoration: none;
  }

.filter_middle{
  padding-top: 10px;
  display: inline block;
}

.filter_select, .map_view{
  height: 40px;
  width: 40% !important;
  text-transform: uppercase;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(235, 98, 79);
  padding-left: 1em;
  border-radius: 40px;
  border: solid 1px rgba(128, 128, 120, 0.7);
  font-weight: bold;
}

.filter_select{
  background-image: url('Images/arrow.png');
  -moz-appearance: none;
  -weblit- appearance:none;
  background-size: 10%;
  background-position: 90% 53%;
  background-repeat: no-repeat;
}

.map_view{
  padding-top: 10px;
  background-image: url(Images/location.png);
  background-size: 10%;
  background-position: 85% 50%;
  background-repeat: no-repeat;
}

  .map_view a{
    color: rgb(173, 186, 187);
    }

    .map_view a:hover, .map_view a:active{
      color: rgb(235, 98, 79);
      text-decoration: none;
    }

.filter_last ul{
  display: inline;
  float: right;
  padding-top: 0;
}

.filter{
  color: rgb(173, 186, 187);
  font-weight: bold;
  padding-top: 20px;
  margin: 0 20px 0 0;
  text-transform: uppercase;
  font-size: 14px;
  margin-right: 0;
}

.home, .people, .music, .travel, .education{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  margin-top: 10px;
  background-color: rgb(182, 192, 193);
  background-image: url('Images/home.png');
  background-position: center center;
  background-size: 60%;
  background-repeat: no-repeat;
}

  .home:hover, .home:active{
    background-color: rgb(27, 175, 93);
  }

  .music:hover, .music:active{
    background-color: rgb(241, 158, 31);
  }

  .travel:hover, .music:active{
    background-color: rgb(136, 73, 156);
  }

  .education:hover, .music:active{
    background-color: rgb(233, 78, 56);
  }

  .people:hover, .music:active{
    background-color:  rgb(0, 66, 255);
  }

/*-------------------------------------------------------------------------------
                            5. POST ELEMENTS
--------------------------------------------------------------------------------*/

.post_section{
  background-color: rgb(243, 241, 242);
  height: auto;
  padding-bottom: 50px;
}

.post_form{
  background-color: white;
  height: 300px;
  margin: 40px 5px 0 5px;
  border-radius: 2%;
}

.smallPost_image, .bigPost_image{
  border-radius: 2% 2% 0 0;
  width: 100%;
  top: 0;
  position: relative;
}
  .smallPost_image{
    height: 50%
  }

  .bigPost_image{
    height: 45%;
  }


  .smallPost_image img, .bigPost_image img{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 2% 2% 0 0;
    z-index: 1;
  }

 .post_image_cover{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(27, 175, 93, 0.7);
    display: none;
    z-index: 2;
  }

    .smallPost_image:hover .post_image_cover,
    .bigPost_image:hover .post_image_cover{
      display:block;
    }

.smallPost_icon, .bigPost_icon{
  position: absolute;
  width: 60px;
  height: 60px;
  border: solid 3px white;
  border-radius: 50%;
  background-color: rgb(27, 175, 93);
  background-image: url('Images/home.png');
  background-position: center center;
  background-size: 60%;
  background-repeat: no-repeat;
  margin:auto;
  z-index: 3;
}

  .smallPost_icon{
    bottom: -32px;
    left: 0;
    right: 0;
  }

  .bigPost_icon{
    bottom: -32px;
    left: 5%;
  }

.smallPost_footer, .bigPost_footer{
  bottom: 0;
  width: 100%;
  background-color: white;
  border-top: solid 3px rgb(27, 175, 93);
  border-radius: 0 0 2% 2%;
}

  .smallPost_footer{
  padding: 1.5em 1em 0 1em;
  text-align: center;
  height: 50%
  }

  .bigPost_footer{
  padding: 1.5em 1em 0 1em;
  text-align: left;
  height: 60%
  }



  .smallPost_footer h1, .bigPost_footer h1{
    font-size: 18px;
  }

  .smallPost_footer a, .smallPost_footer a:hover{
    font-size: 14px;
    text-transform: uppercase;
    color: rgb(27, 175, 93);
    text-decoration: none;
    font-weight: bold;
  }

.user{
  height: 50%;
  width:100%;
  height: 55%;
  border-top: solid 3px rgb(27, 175, 93);
}

  .user a{
    left: 5%;
    height: 100%;
    width: 20%;
    top: 25%;
    position: relative;

}

  .user a img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

