/*-------------------------------------------------------------------------------
                              TABLE OF CONTENT
---------------------------------------------------------------------------------
1. BASIC ELEMENTS



*/



/*-------------------------------------------------------------------------------
                            1. BASIC ELEMENTS
--------------------------------------------------------------------------------*/

html {
 box-sizing: border-box;
}
*, *:before, *:after {
 box-sizing: inherit;
}

.clearfix:before,
.clearfix:after{
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}