/*-------------------------------------------------------------------------------
                            1. BASIC ELEMENTS
--------------------------------------------------------------------------------*/

html {
 box-sizing: border-box;
}
*, *:before, *:after {
 box-sizing: inherit;
}

.clearfix:before,
.clearfix:after{
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

.container {
  margin: auto;
  width: 80%;
}


/*-------------------------------------------------------------------------------
                            2
                            . NAVIGATION ELEMENTS
-------------------------------------------------------------------------------*/

nav ul li{
  text-transform: uppercase;
  list-style: none;
  padding-right: 25px;
  display: inline;
  color:rgb(255, 255, 255);
}

nav ul li a {
  text-decoration: none;
  color:rgb(255, 255, 255);
}

nav ul li a:hover{
  text-decoration: underline;
}

nav ul li a:active{
  text-decoration: none;
  color: rgb(27, 188, 155);
}

nav ul li:not(:first-child){
  float: right;
}


/*-------------------------------------------------------------------------------
                            3. HEADER ELEMENTS
-------------------------------------------------------------------------------*/

header{
  position: relative;
  padding-top: 20px;
  height: 600px;
  background-image: url('Images/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.promo {
  margin: auto 15%;
  padding-top:15%;
  text-align: center;
  color: rgb(255, 255, 255);
  width: auto;
}

header h1 {
  font-size: 50px;
  margin: 10px;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}

header h2 {
  font-size: 20px;
  padding-top: 3px;
}

header button{
  text-transform: uppercase;
  position: absolute;
  bottom: -27px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: rgb(27, 188, 155);
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 10px;
  font-size: 16px;
  width: 20%;
  border: 7px solid rgba(27, 188, 155, .5);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}


/*-------------------------------------------------------------------------------
                            4. MAIN ELEMENTS
-------------------------------------------------------------------------------*/

main {
  background-color: rgb(255, 255, 255);
}

.bruce h1 {
  padding-top: 100px;
  color: rgb(27, 188, 155);
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

main p {
  line-height: 25px;
  text-align: center;
  padding-bottom: 80px;
  color: rgb(128, 128, 128);
}


.post_list {
  text-align: center;
  list-style: none;
  width: 30%;
  float:left;
 }

  .post_list h1 {
    font-size: 20px;
    margin: 30px 0;
    font-weight: bold;
    color: rgb(27, 188, 155);
  }

  .post_list p {
    line-height: 25px;
    text-align: justify;
    padding-bottom: 10px;
  }

  .post_list:not(:last-child){
    margin-right: 5%;
  }

.view_more {
  margin: auto;
  width: 25%;
  height: 60px;
}

  .view_more button{
    background-color: rgb(27, 188, 155);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    border: none;
  }

.line {
  height: 2px;
  width: 100%;
  background-color: rgba(225, 224, 224, 0.7);
  margin: 80px 0;
}


/*-------------------------------------------------------------------------------
                            5. GALLERY ELEMENTS
--------------------------------------------------------------------------------*/

.gallery{
  margin: 0 -5em 3em;
}

  .gallery_item{
    width:50%;
    height:300px;
    list-style: none;
    z-index: 1;
    padding: 0 5em;
    position: relative;
    float: left;
   }

  .gallery_item:nth-child(n+3) {
        margin-top: 2em;
    }

.wrapper{
  width: 100%;
  height: auto;
  position: relative;
}

  .wrapper img{
    width: 100%;
    height:100%;
  }

/*
-------------------------------------------------------------------------------
                            5.2 HOVER ELEMENTS
---------------------------------------------------------------------------------*/

.down{
  display: none;
  position: absolute;
  background-color: rgb(27, 188, 155);
  height: 100px;
  left: 0;
  right: 0;
  bottom:-1px;
  z-index: 3;
  border-top: 7px solid rgba(27, 188, 155, .5);
  padding-top: 15px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

  .down h1{
    font-size: 24px;
    color:white;
    width: 100%;
    height: auto;
    margin-left: 20px;
  }

  .down h2{
    font-size: 18px;
    color:rgb(78, 75, 75);
    width: 100%;
    height: auto;
    margin-left: 20px;
  }

.up {
  display: none;
  background-color: rgb(27, 188, 155);
  width: 50px;
  height: 50px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 3;
  border: 7px solid rgba(27, 188, 155, .5);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-image: url('Images/search.png');
  background-repeat: no-repeat;
  background-position: center center;
}


.back{
  display: none;
  background-color:rgba(128, 128, 120, 0.7);
  width:100%;
  height:100%;
  position:absolute;
  bottom: 0px;
  left: 0px;
  z-index: 2;
}


.wrapper:hover .down,
.wrapper:hover .up,
.wrapper:hover .back{
  display:block;}


/*-------------------------------------------------------------------------------
                            6. CONTACT ELEMENTS
-------------------------------------------------------------------------------*/

.contact_message{
  color: rgb(27, 188, 155);
  font-size: 50px;
  margin: 0 0 50px 0;
  padding: 0;
  color: rgb(27, 188, 155);
  text-align: center;
  font-weight: bold;
}

.contact_form{
  width:70%;
  margin:auto;
  padding: 0 -5px;
}

input, textarea{
    background-color: rgb(228, 232, 233);
    font-family: 'Courier New';
    color: rgb(205, 205, 205);
    font-size: 30px;
    font-weight: bold;
    height: 60px;
    border: none;
    display: block;
    width: 100%;
    padding: 0.2em 1.5em;
  }
  .input-field{
    display: inline-block;
    float: left;
    width: 49%;
    margin-bottom: 1em  ;
  }
  .input-field + .input-field {
    float: right;
  }


  textarea{
    min-height: 300px;
    resize: vertical;
    margin-bottom: 200px;
 }

/*-------------------------------------------------------------------------------
                            7. FOOTER ELEMENTS
-------------------------------------------------------------------------------*/
footer{
  background-color:rgb(27, 188, 155);
  height: 500px;
}

.icons{
  width:80%;
  height: auto;
  text-align: center;
  top: -2em;
  position: relative;
  display: inline;
}

.single{
  width: 100%;
  position: absolute;
}

.icons img{
  background-color: white;
  width: 70px;
  height: 70px;
  position: absolute;
}
